<footer>
    <div class="footer-container">
        <ul>
            <li><a th:href="@{/about}">關於 STYLiSH</a></li>
            <span class="divider">|</span>
            <li><a th:href="@{/terms}">服務條款</a></li>
            <span class="divider">|</span>
            <li><a th:href="@{/privacy}">隱私政策</a></li>
            <span class="divider">|</span>
            <li><a th:href="@{/contact}">聯絡我們</a></li>
            <span class="divider">|</span>
            <li><a th:href="@{/faq}">FAQ</a></li>
        </ul>
        <div class="social-media-rights-info-container">
            <div class="social-media">
                <a th:href="@{/line}">
                    <img th:src="@{/image/line.png}" alt="LINE" />
                </a>
                <a th:href="@{/facebook}">
                    <img th:src="@{/image/facebook.png}" alt="Facebook" />
                </a>
                <a th:href="@{/twitter}">
                    <img th:src="@{/image/twitter.png}" alt="Twitter" />
                </a>
            </div>
            <p>&copy; 2024. All rights reserved.</p>
        </div>
    </div>
</footer>
