<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>STYLISH</title>
        <link rel="stylesheet" th:href="@{/css/index.css}" type="text/css" />
        <link
            rel="stylesheet"
            th:href="@{/css/headerAndFooter.css}"
            type="text/css"
        />
    </head>
    <body>
        <header th:replace="fragments/header :: header"></header>
        <div id="campaign-container"></div>
        <div id="products-container"></div>
        <footer th:replace="fragments/footer :: footer"></footer>

        <script th:src="@{/js/getCampaign.js}"></script>
        <script th:src="@{/js/getProductList.js}"></script>
    </body>
</html>
